cobra>=0.29.0
cvxpy==1.5.2
doranet
equilibrator_api<0.6.0
equilibrator_assets<0.6.0
equilibrator_cache<0.6.0
ipython
keras==2.9.0
matplotlib
mhfp==1.9.2
mock
mordred==1.2.0
networkx>=2.2
numpy==1.26.4
pandas==2.2.2
pytest==7.1.2
rdkit==2023.9.5
scikit-learn
scipy==1.14.0
selfies==2.1.1
setuptools
streamlit
tensorflow==2.9.2
umap==0.1.1
umap_learn==0.5.2
xgboost==1.6.2
streamlit
altair==4
DORA-XGB==1.9
